---
import { Image } from "astro:assets";
import moviesfordevs from "../../public/images/placeholder.jpg";

interface Project {
  title: string;
  description: string;
  tech: string[];
  image: ImageMetadata;
  github: string;
  external: string;
  featured: boolean;
}

const projects: Project[] = [
  {
    title: "MoviesForDevs",
    description: "A curated platform showcasing movies that inspire coding, innovation, and technological curiosity. Built with modern web technologies and a focus on user experience.",
    tech: ["React", "Node.js", "MongoDB", "TailwindCSS"],
    image: moviesfordevs as ImageMetadata,
    github: "https://github.com/avanegas95/MoviesForDevs",
    external: "https://movies-for-devs.vercel.app",
    featured: true
  }
];
---

<section id="projects" class="py-24">
  <h2 class="flex items-center gap-2 text-3xl text-[var(--white)] font-semibold mb-10">
    <span class="text-[var(--sec)] font-mono text-2xl">02.</span> Some Things I've Built
  </h2>

  <div class="space-y-24">
    {
      projects.filter(p => p.featured).map((project, i) => (
        <div class={`relative grid md:grid-cols-12 gap-4 items-center ${i % 2 === 0 ? '' : 'md:text-right'}`}>
          {/* Project Image */}
          <div class={`relative col-span-full md:col-span-7 ${i % 2 === 0 ? 'md:col-start-6' : 'md:col-start-1'}`}>
            <div class="relative group">
              <div class="absolute inset-0 bg-[var(--sec)] bg-opacity-20 transition-opacity group-hover:bg-opacity-0 z-10"></div>
              <Image
                src={project.image}
                alt={project.title}
                class="w-full h-full object-cover rounded"
              />
            </div>
          </div>

          {/* Project Content */}
          <div class={`relative col-span-full md:col-span-6 ${i % 2 === 0 ? 'md:col-start-1 md:text-left' : 'md:col-start-7 md:text-right'}`}>
            <p class="text-[var(--sec)] font-mono mb-2">Featured Project</p>
            <h3 class="text-2xl font-semibold text-[var(--white)] mb-4">{project.title}</h3>
            <div class="bg-[#112240] p-6 rounded text-[var(--white-icon)] mb-4">
              <p>{project.description}</p>
            </div>
            <ul class={`flex flex-wrap gap-4 text-sm text-[var(--white-icon)] mb-6 ${i % 2 === 0 ? '' : 'justify-end'}`}>
              {project.tech.map((tech) => (
                <li>{tech}</li>
              ))}
            </ul>
            <div class={`flex gap-4 text-[var(--white-icon)] ${i % 2 === 0 ? '' : 'justify-end'}`}>
              <a href={project.github} target="_blank" class="hover:text-[var(--sec)]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                  <path d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"></path>
                </svg>
              </a>
              <a href={project.external} target="_blank" class="hover:text-[var(--sec)]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                  <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>

  <div class="mt-24">
    <h3 class="text-[var(--white)] text-2xl font-semibold mb-8">Other Noteworthy Projects</h3>
    <div class="grid md:grid-cols-3 gap-4">
      {
        projects.filter(p => !p.featured).map((project) => (
          <div class="bg-[#112240] rounded p-6 hover:-translate-y-2 transition-transform">
            <div class="flex justify-between items-start mb-6">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 text-[var(--sec)]">
                <path d="M3 3C2.44772 3 2 3.44772 2 4V20C2 20.5523 2.44772 21 3 21H21C21.5523 21 22 20.5523 22 20V4C22 3.44772 21.5523 3 21 3H3ZM4 19V5H20V19H4Z"></path>
              </svg>
              <div class="flex gap-4 text-[var(--white-icon)]">
                <a href={project.github} target="_blank" class="hover:text-[var(--sec)]">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"></path>
                  </svg>
                </a>
                <a href={project.external} target="_blank" class="hover:text-[var(--sec)]">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                  </svg>
                </a>
              </div>
            </div>
            <h3 class="text-xl font-semibold text-[var(--white)] mb-2">{project.title}</h3>
            <p class="text-[var(--white-icon)] text-sm mb-4">{project.description}</p>
            <ul class="flex flex-wrap gap-3 text-xs text-[var(--white-icon)]">
              {project.tech.map((tech) => (
                <li>{tech}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</section>
